<ul class="nav nav-pills nav-stacked" id="main_menu">
    <!-- Dashboard -->
    <li><a href="#admin/"><span class="glyphicon glyphicon-home"></span>&nbsp;Dashboard</a>
    </li>
    <!-- Users -->
    <li><a href="admin#/admin/users"><span class="glyphicon glyphicon-user"></span>&nbsp;Users</a>
    </li>

    <!-- Specialties -->
    <li><a href="#/admin/specialties"><span class="glyphicon glyphicon-th-list"></span>&nbsp;Specialties</a>
    </li>

    <!-- Insurance -->
    <li><a href="#/admin/insCarriers"><span class="glyphicon glyphicon-th-list"></span></span>&nbsp;Insurance</a>
</ul>
