<div ng-class="class">
    <table class="table table-condensed table-striped table-hover">
        <thead>
        <tr>
            <th ng-repeat="heading in headings">{{heading}}</th>
        </tr>
        </thead>
        <tbody>
        <tr ng-repeat="row in rows | filter: filterExpression | filter: searchText">
            <td ng-repeat="field in fields">
                <input
                    ng-if="field.type=='buttons'"
                    ng-repeat="button in field.buttons"
                    type="button"
                    class="btn btn-xs btn-info"
                    ng-click="button.click(row.id)"
                    ng-value="button.label"
                    accesskey="field.accesskey">

                <button
                    ng-if="field.type=='deleteButton'"
                    type="button"
                    class="btn btn-danger btn-sm"
                    ng-click="field.click(row)">
                    <span class="glyphicon glyphicon-trash"></span>
                </button>

                <button
                        ng-if="field.type=='selectButton'"
                        type="button"
                        class="btn btn-info btn-sm"
                        ng-click="field.click(row)">
                    <span class="glyphicon glyphicon-ok"></span>
                </button>

                <button
                        ng-if="field.type=='editButton'"
                        type="button"
                        class="btn btn-info btn-sm"
                        ng-click="field.click(row)">
                    <span class="glyphicon glyphicon-edit"></span>
                </button>

                <span ng-if="typeof(field) == string">{{row[field]}}</span>

                <span ng-if="field.type=='prop'">{{field.filter(row[field.name])}}</span>

                <span ng-if="field.type=='obj'">{{field.filter(row)}}</span>

                <ul ng-if="field.type=='vlist'" class="list-unstyled">
                    <li ng-repeat="listItem in row[field.name]">{{field.filter(listItem)}}</li>
                </ul>


                <div
                    ng-if="field.type=='template'"
                    ng-include="'shared/partials/' + field.template + '.html'"
                    onload="items = row[field.fieldName]">
                </div>
            </td>
        </tr>
        </tbody>
    </table>
</div>