<ul class="nav nav-pills nav-stacked" id="main_menu">
    <!-- Dashboard -->
    <li><a href="#/"><span class="glyphicon glyphicon-home"></span>&nbsp;Dashboard</a>
    </li>
    <!-- Appointments -->
    <li><a href="#/appointments"><span class="glyphicon glyphicon-calendar"></span>&nbsp;Appointments</a>
    </li>

    <!-- Patients -->
    <li><a href="#/patients"><span class="glyphicon glyphicon-user"></span>&nbsp;Patients</a>
    </li>

    <!-- Doctors -->
    <li><a href="#/doctors"><span class="glyphicon glyphicon-phone-alt"></span></span>&nbsp;Doctors</a>

</ul>
