<div class="well">
    <pcs-list-header
            title = 'title'
            $log = "$log"
            buttons="headerButtons"
            ></pcs-list-header>

    <tabset>
        <tab heading="All">
            {{tab.content}}
            <pcs-list
                    class="'tab-pane active'"
                    headings="headings"
                    filter-expression="{}"
                    fields="fields"
                    rows="models"
            ></pcs-list>
        </tab>

    </tabset>
</div>