<div class="well">

    <pcs-list-header
            $log = "$log"
            title = "'Appointments'"
            buttons="[
                {label:'Add', click:add, accesskey:'N'}
            ]"
    ></pcs-list-header>

    <tabset>
        <tab heading="All">
        </tab>
        <tab heading="Upcoming">
        </tab>
    </tabset>
    <div class="container-fluid">
        <div class="row row-buffer">
            <input type="text" ng-model="search" ng-change="refreshData(search)" placeholder="Search..." class="form-control"/>
        </div>
        <div class="row row-buffer">
            <div ui-grid-pagination ui-grid="appointmentGrid" external-scopes="appointmentScope" class="listGrid"></div>
        </div>
        <div class="row center-block clearfix row-buffer">
            <div class="col-md-8">
                <p>Page: {{ gridApi.pagination.getPage() }} of {{ gridApi.pagination.getTotalPages() }}</p>
            </div>
            <div class="col-md-4 text-right">
                <button type="button" class="btn btn-success" ng-click="gridApi.pagination.previousPage()">previous page</button>
                <button type="button" class="btn btn-success" ng-click="gridApi.pagination.nextPage()">next page</button>
            </div>
        </div>
    </div>
</div>
