<ng-include src="'shared/partials/modal-header.html'"></ng-include>

<div class="modal-body" ng-class="modalClass">
    <!--Doctor Search-->
    <legend>Choose Specialist</legend>

    <div class="panel panel-default">

        <div class="panel-heading">
            <h4 class="panel-title">
                <a data-toggle="collapse" data-parent="#accordion" href="#doctorSearch">Find Specialist</a> <span
                    class="caret"></span>
            </h4>
        </div>

        <div id="doctorSearch" class="panel-collapse collapse in">
            <div class="panel-body">
                <form name="doctorSearchForm" class="form-horizontal">
                    <div class="form-group">

                        <!--Name-->
                        <div class="col-sm-4">
                            <div class="input-group">
                                <ui-select ng-model="searchParams.doctorFullName" ng-disabled="disabled">
                                    <ui-select-match placeholder="Specialist Name...">{{$select.selected.fullName}}</ui-select-match>
                                    <ui-select-choices repeat="doctor.fullName as doctor in doctors | filter:$select.search | orderBy: 'name'">
                                        <div ng-bind-html="doctor.fullName.htmlSafe | highlight: $select.search"></div>
                                        {{doctor.fullName}}
                                    </ui-select-choices>
                                </ui-select>
                                <span class="input-group-btn">
                                    <button ng-click="searchParams.doctorFullName = undefined" class="btn btn-default">
                                        <span class="glyphicon glyphicon-trash"></span>
                                    </button>
                                </span>
                            </div>
                        </div>


                        <!--Specialty-->
                        <!--TODO: Filtering should be "or"-->
                        <div class="col-sm-4">
                            <div class="input-group">
                                <ui-select ng-model="searchParams.doctorspecialties" ng-disabled="disabled">
                                    <ui-select-match placeholder="Specialty...">{{$select.selected.name}}</ui-select-match>
                                    <ui-select-choices repeat="specialty.name as specialty in specialties | filter:$select.search | orderBy: 'name'">
                                        <div ng-bind-html="specialty.name.htmlSafe | highlight: $select.search"></div>
                                        {{specialty.name}}
                                    </ui-select-choices>
                                </ui-select>
                                <span class="input-group-btn">
                                    <button ng-click="searchParams.doctorspecialties = undefined" class="btn btn-default">
                                        <span class="glyphicon glyphicon-trash"></span>
                                    </button>
                                </span>
                            </div>
                        </div>

                        <!--insCarriers-->
                        <div class="col-sm-4">
                            <div class="input-group">
                                <ui-select ng-model="searchParams.doctorInsCarriers" ng-disabled="disabled">
                                    <ui-select-match placeholder="Insurance...">{{$select.selected.fullName}}</ui-select-match>
                                    <ui-select-choices repeat="insCarrier.name as insCarrier in insCarriers | filter:$select.search | orderBy: 'name'">
                                        <div ng-bind-html="insCarrier.name.htmlSafe | highlight: $select.search"></div>
                                        {{insCarrier.name}}
                                    </ui-select-choices>
                                </ui-select>
                                <span class="input-group-btn">
                                    <button ng-click="searchParams.doctorInsCarriers = undefined" class="btn btn-default">
                                        <span class="glyphicon glyphicon-trash"></span>
                                    </button>
                                </span>
                            </div>
                        </div>
                    </div>

                    <!--City/Zip-->
                    <div class="form-group">
                        <!--City-->
                        <div class="col-sm-4">
                            <input type="text" ng-model="searchParams.city" class="form-control" placeholder="City">
                        </div>
                        <!--Zip-->
                        <div class="col-sm-4">
                            <input type="text" ng-model="searchParams.zip"  class="form-control" maxlength="5" placeholder="Zip">
                        </div>
                    </div>
                    <div class="form-group">
                        <!--Time-->
                        <div class="col-sm-4">

                            <ui-select ng-model="searchParams.days" ng-disabled="disabled">
                                <ui-select-match multiple placeholder="Day...">{{$select.selected}}</ui-select-match>
                                <ui-select-choices repeat="day in daysOfTheWeek | filter:$select.search">
                                    <div ng-bind-html="day.htmlSafe | highlight: $select.search"></div>
                                    {{day}}
                                </ui-select-choices>
                            </ui-select>
                        </div>

                        <div class="col-sm-4">

                            <ui-select ng-model="searchParams.timePeriods" ng-disabled="disabled">
                                <ui-select-match multiple placeholder="Time...">{{$select.selected}}</ui-select-match>
                                <ui-select-choices repeat="timePeriod in timePeriods | filter:$select.search">
                                    <div ng-bind-html="timePeriod.htmlSafe | highlight: $select.search"></div>
                                    {{timePeriod}}
                                </ui-select-choices>
                            </ui-select>
                        </div>
                    </div>

                </form>
            </div>
        </div>
    </div>
    <!--Appt Details-->
    <!--<pre>Search Params: {{searchParams}}</pre>-->
    <div class="row">
        <!--{{resultRows}}-->
        <div class="col-md-8">
            <pcs-list
                    $log=$log
                    headings="resultHeadings"
                    filter-expression="searchParams"
                    fields="resultFields"
                    rows="resultRows"></pcs-list>
        </div>
        <div class="col-md-4">
            <ui-gmap-google-map center="map.center" zoom="map.zoom" pan="true">
                <ui-gmap-markers
                        models="map.markers"
                        coords="'coordinates'"
                        events="map.events"
                        fit="true">
                    <ui-gmap-windows show="'showWindow'" options="'windowOptions'">
                        <div class="map-marker-info">
                            <div class="map-marker-info-title" ng-non-bindable>{{title}}</div>
                            <div class="map-marker-info-details" ng-non-bindable>{{details}}</div>
                        </div>
                    </ui-gmap-windows>
                </ui-gmap-markers>
            </ui-gmap-google-map>
        </div>
    </div>

    <legend>Appointment Details</legend>
    <form name="mainForm" class="form-horizontal">
        <!--Patients-->
        <div class="form-group">
            <div class="col-sm-4">
                <ui-select ng-model="appt.patient" ng-disabled="disabled">
                    <ui-select-match placeholder="Patient...">{{$item.name}}</ui-select-match>
                    <ui-select-choices repeat="patient in patients | filter:$select.search">
                        <div ng-bind-html="patient.name.htmlSafe | highlight: $select.search"></div>
                        {{patient.name}}
                    </ui-select-choices>
                </ui-select>
            </div>

            <!--Date and Time-->
            <div class="col-sm-3">
                <input type="date" ng-model="appt.date" class="form-control">
            </div>

            <div class="col-sm-3">
                <input type="time" ng-model="appt.time" class="form-control">
            </div>
        </div>


    </form>

    <div class="modal-footer" ng-class="modalClass">
        <button type="button" class="btn" data-ng-click="close()">Cancel</button>
        <button class="btn btn-primary" data-ng-click="save()">Save</button>
    </div>
</div>
