<ng-include src="'shared/partials/modal-header.html'"></ng-include>
<div class="modal-body" ng-class="modalClass">
    <!--Doctor Search-->
    <div class="panel panel-default">

        <div class="panel-heading">
            <h4 class="panel-title">
                <a data-toggle="collapse" data-parent="#accordion" href="#doctorSearch">Find Specialist</a> <span
                    class="caret"></span>
            </h4>
        </div>

        <div id="doctorSearch" class="panel-collapse collapse in">
            <div class="panel-body">
                <form name="doctorSearchForm" class="form-horizontal">
                    <!--Specialty-->
                    <div class="form-group">
                        <div class="col-sm-4">
                            <ui-select ng-model="appt.client" ng-disabled="disabled">
                                <ui-select-match placeholder="specialty...">{{$item.name}}</ui-select-match>
                                <ui-select-choices repeat="specialty in specialties | filter:$select.search">
                                    <div ng-bind-html="specialty.name.htmlSafe | highlight: $select.search"></div>
                                    {{specialty.name}}
                                </ui-select-choices>
                            </ui-select>
                        </div>

                    <!--Insproviders-->
                        <div class="col-sm-4">
                            <ui-select ng-model="appt.insProvider" ng-disabled="disabled">
                                <ui-select-match placeholder="Insurance...">{{$item.name}}</ui-select-match>
                                <ui-select-choices repeat="insprovider in insproviders | filter:$select.search">
                                    <div ng-bind-html="insprovider.fullName.htmlSafe | highlight: $select.search"></div>
                                    {{insprovider.fullName}}
                                </ui-select-choices>
                            </ui-select>
                        </div>
                    </div>

                    <!--City/Zip-->
                    <div class="form-group">
                        <!--City-->
                        <div class="col-sm-4">
                            <ui-select-match ng-model="search.city" placeholder="City...">{{$time}}</ui-select-match>
                            <ui-select-choices repeat="city in search.cities | filter:$select.search">
                                <div ng-bind-html="city.htmlSafe | highlight: $select.search"></div>
                                {{city}}
                            </ui-select-choices>
                        </div>
                        <!--Zip-->
                        <div class="col-sm-4">
                            <input type="text" class="form-control" maxlength="5" placeholder="Zip">
                        </div>
                    </div>

                    <!--Time-->
                    <div class="form-group">
                        <div class="col-sm-4">
                            <ui-select-match ng-model="search.timePeriod" placeholder="Time...">{{$time}}</ui-select-match>
                            <ui-select-choices repeat="timePeriod in search.timePeriods | filter:$select.search">
                                <div ng-bind-html="timePeriod.htmlSafe | highlight: $select.search"></div>
                                {{timePeriod}}
                            </ui-select-choices>
                        </div>
                    </div>

                </form>
                
                

            </div>
        </div>
    </div>
    <!--Appt Details-->

    <!--Patient-->
    <form name="mainForm" class="form-horizontal">
        <!--Patients-->
        <div class="form-group">
            <div class="col-sm-4">
                <ui-select ng-model="appt.client" ng-disabled="disabled">
                    <ui-select-match placeholder="Patient...">{{$item.name}}</ui-select-match>
                    <ui-select-choices repeat="patient in patients | filter:$select.search">
                        <div ng-bind-html="patient.name.htmlSafe | highlight: $select.search"></div>
                        {{patient.name}}
                    </ui-select-choices>
                </ui-select>
            </div>
        </div>

        <!--Doctors-->
        <div class="form-group">
            <div class="col-sm-4">
                <ui-select ng-model="appt.doctor" ng-disabled="disabled">
                    <ui-select-match placeholder="Doctor...">{{$item.name}}</ui-select-match>
                    <ui-select-choices repeat="doctor in doctors | filter:$select.search">
                        <div ng-bind-html="doctor.fullName.htmlSafe | highlight: $select.search"></div>
                        {{doctor.fullName}}
                    </ui-select-choices>
                </ui-select>
            </div>
            <div class="col-sm-2">
                <button type="submit" class="btn btn-primary button" data-ng-click="searchDoctors()">Find Doctor</button>
            </div>
        </div>

        <!--Locations-->
        <div class="form-group">
            <div class="col-sm-4">
                <ui-select ng-model="appt.location" ng-disabled="disabled">
                    <ui-select-match placeholder="Location...">{{$item.name}}</ui-select-match>
                    <ui-select-choices repeat="location in doctor.locations | filter:$select.search">
                        <div ng-bind-html="location.fullAddress.htmlSafe | highlight: $select.search"></div>
                        {{location.fullAddress}}
                    </ui-select-choices>
                </ui-select>
            </div>
        </div>

        <!--Date and Time-->
        <div class="form-group">
            <div class="col-sm-3">
                <input type="date" ng-model="appt.date" class="form-control">
            </div>

            <div class="col-sm-3">
                <input type="time" ng-model="appt.time" class="form-control">
            </div>
        </div>


    </form>

    <div class="modal-footer" ng-class="modalClass">
        <button type="button" class="btn" data-ng-click="close()">Cancel</button>
        <button class="btn btn-primary" data-ng-click="save()">Save</button>
    </div>
</div>
