<!doctype html>
<html ng-app="csp" ng-strict-di>
<head>
  <meta charset="utf-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <title>Patient Concierge</title>
  <meta name="description" content="">
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <link rel="stylesheet" href="bower_components/bootstrap/dist/css/bootstrap.css">
  <link rel="stylesheet" href="bower_components/angular-ui-select/dist/select.min.css">
  <link rel="stylesheet" href="bower_components/angular-ui-grid/ui-grid.min.css">
  <link rel="stylesheet" href="bower_components/angular-multi-select/angular-multi-select.css">
  <link rel="stylesheet" href="app.css">
</head>
<body>

  <div class="container-fluid">
    <ng-include src="'shared/partials/header.html'" onload="username='Leo'"></ng-include>

    <div class="col-sm-2" ng-controller="menuCtrl">
      <ng-include ng-if="$location.path().indexOf('admin') === -1" src="'shared/partials/main-menu.html'"></ng-include>
      <!--<ng-include src="'shared/partials/main-menu.html'"></ng-include>-->
      <ng-include ng-if="$location.path().indexOf('admin') > -1" src="'shared/partials/admin-menu.html'"></ng-include>

    </div>
    <div class="col-sm-10" ng-view></div>

  </div>

  <!--lib-->
  <script src="bower_components/angular/angular.js"></script>
  <script src="bower_components/angular-touch/angular-touch.min.js"></script>
  <script src="bower_components/angular-animate/angular-animate.min.js"></script>

  <script src="bower_components/angular-multi-select/angular-multi-select.js"></script>
  <script src="bower_components/angular-ui-utils/ui-utils.min.js"></script>
  <script src="bower_components/angular-route/angular-route.js"></script>

  <script src="bower_components/lodash/dist/lodash.min.js"></script>

  <!--uiselect stuff-->
  <script src="bower_components/angular-bootstrap/ui-bootstrap.js"></script>
  <script src="bower_components/angular-bootstrap/ui-bootstrap-tpls.js"></script>
  <script src="bower_components/angular-ui-select/dist/select.js"></script>
  <script src="bower_components/angular-sanitize/angular-sanitize.js"></script>

  <script src="bower_components/angular-ui-grid/ui-grid.min.js"></script>

  <script src="bower_components/angular-google-maps/dist/angular-google-maps.js"></script>

  <script src="bower_components/parse/parse.min.js"></script>
  <script src="bower_components/moment/moment.js"></script>

  <!--app-->
  <script src="app.js"></script>

  <!--services-->

  <script src="locations/location-service.js"></script>

  <script src="doctors/doctor-service.js"></script>

  <script src="patients/patient-service.js"></script>

  <script src="appointments/appt-service.js"></script>

  <script src="sales-people/sales-person-service.js"></script>

  <script src="shared/services/office-hours-service.js"></script>

  <script src="shared/services/parse-service.js"></script>

  <script src="shared/services/specialty-service.js"></script>

  <script src="shared/services/ins-carrier-service.js"></script>

  <script src="shared/services/geocoding-service.js"></script>

  <!--directives-->
  <script src="shared/directives/list-directive.js"></script>
  <script src="shared/directives/list-header-directive.js"></script>


  <!--controllers-->
  <script src="patients/patient-ctrl.js"></script>
  <script src="doctors/doctor-edit-ctrl.js"></script>
  <script src="doctors/doctor-list-ctrl.js"></script>
  <script src="appointments/appt-ctrl.js"></script>
  <script src="shared/ctrls/named-ctrl.js"></script>

  <p class="text-center text-muted">© 2014 Patient Concierge Services. All Rights Reserved.</p>

</body>
</html>
